$input-placeholder: #505050;
.input {
  -webkit-appearance: none;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 20px 20px;
  align-self: center;
  width: 40%;
  font-size: 20px;
  line-height: 20px;
  // margin: 10px 0;
  background: black;
  color: white;
  &.short {
      width: 90px;
      border: white 1px solid;
      padding: 7px;
      border-radius: 10px;
      margin: 5px 0;
  }
  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      width: 65%;
    }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $input-placeholder;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $input-placeholder;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $input-placeholder;
}