$input-placeholder: #ffffff;
.input {
    -webkit-appearance: none;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding: 15px 20px;
    align-self: center;
    width: 40%;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;
    background: linear-gradient(30deg, rgb(53, 35, 75) 0%, rgb(67, 33, 110) 100%);
    color: $input-placeholder;
    &.short {
        width: 100px;
    }
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        width: 65%;
      }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $input-placeholder;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $input-placeholder;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $input-placeholder;
  }